body{
  background-image: url("../img/fond.png");
}
.konteineris{
  width: 750px;
  margin: auto;
}
header {
  width: 750px;
}
img.logo{
  float: left;
}
ul.meniu{
    list-style: none;
    list-style-position: inside;
    padding: 0;
    float: right;
}
.m1{
  display: inline;
  margin-right: 10px;
}
